/***************
 fonts 
**************/
/*body {font-family: Georgia,Verdana, Tahoma, Arial;}
*/
.navbar {
  font-family: 'Oswald', sans-serif !important;
}
#slogan {
  color:#CCC; padding-top:15px;
}
.site-header h1 {text-align:left;
  font-family: Georgia, serif!important;
} 
.site-footer {text-align:center;}
.site-header h3 {font-size: 12px; text-align: left;}
.site-header h1 {font-family: Tahoma;}
.footer-heading {font: 1.3em Georgia;}
.quick-footer {font: 10pt Tahoma;}


/***************
 colors, layout 
**************/
body {
  margin-top:40px;
}
.site-header {
  background-color:#EEF; color:#444;
  padding: 15px 10px;
}
.site-footer {
  background-color:#8888CC; color:#FFFFFF;
  padding: 5px 10px;
}
.page-content {
  padding: 10px 0;
  line-height:1.6em;
}
.quick-footer {margin:0 0 20px 0; padding:0;}
.quick-footer li {display: inline; padding: 0 20px;}
.author {font-style: italic; padding-bottom: 10px;}


/***************
 links 
**************/
/*a {color:#933;text-decoration: underline;}
a:hover {color:#339;}
*/
.site-header a,
.site-footer a {color:#ffe;}






/*************************************
 dividers
 ************************************/
a.bando
{
   display: block; width:96px !important; height:50px !important;
   margin: 10px auto; 
   xborder: dotted 1px #eee;
}

a.yellowb  {background-image: url(/tejastango/res/avacadob.jpg);}
a.magentab {background-image: url(/tejastango/res/magentab.jpg);}
a.blueb    {background-image: url(/tejastango/res/blueb.jpg);}
a.redb     {background-image: url(/tejastango/res/redb.jpg);}
a.goldb    {background-image: url(/tejastango/res/goldb.jpg);}
a.greenb   {background-image: url(/tejastango/res/greenb.jpg);}
a.purpleb  {background-image: url(/tejastango/res/purpleb.jpg);}
a.blackb   {background-image: url(/tejastango/res/black2b.jpg);}

/*************************************
 stars
 ************************************/
i.rate {
  display: inline-block;   
  box-sizing: content-box; 
  width:75px !important; height:21px !important;
  padding: 0; xborder: dotted 1px #eee;
  margin: 0 2px -4px 2px;
}

i.not      {background-image: url(/tejastango/res/not.gif);}
i.pass     {background-image: url(/tejastango/res/pass.gif);}
i.star1    {background-image: url(/tejastango/res/1star.gif);}
i.star1_5  {background-image: url(/tejastango/res/1_5star.gif);}
i.star2    {background-image: url(/tejastango/res/2star.gif);}
i.star2_5  {background-image: url(/tejastango/res/2_5star.gif);}
i.star3    {background-image: url(/tejastango/res/3star.gif);}
i.star3_5  {background-image: url(/tejastango/res/3_5star.gif);}
i.star4    {background-image: url(/tejastango/res/4star.gif);}
i.star4_5  {background-image: url(/tejastango/res/4_5star.gif);}
i.star5    {background-image: url(/tejastango/res/5star.gif);}

/*
<img SRC="not.gif" ALT="not rated" height=21 width=75>
<img SRC="pass.gif" ALT="pass" height=21 width=75>
<img SRC="5star.gif" ALT="5 stars" height=21 width=75 align=ABSCENTER>
<img SRC="4_5star.gif" ALT="4.5 stars" height=21 width=75>
<img SRC="4star.gif" ALT="4 stars" height=21 width=75 align=ABSCENTER>
<img SRC="3_5star.gif" ALT="3.5 stars" height=21 width=75>
<img SRC="3star.gif" ALT="3 stars" height=21 width=75 align=ABSCENTER>
<img SRC="2_5star.gif" ALT="2.5 stars" height=21 width=75>
<img SRC="2star.gif" ALT="2 stars" height=21 width=75>
<img SRC="1_5star.gif" ALT="1.5 stars" height=21 width=75>
<img SRC="1star.gif" ALT="1 star" height=21 width=75 align=ABSCENTER>
*/


/***************
 featured photo 
**************/
img.intropix {
   padding: 10px;
   float: right;
   margin: 0 0 10px 10px;
   max-height: 450px;
}

img.featpix {
   padding: 10px;
   float: left;
   margin: 0 10px 10px 0;
   max-height: 120px;
}

.blogitems {
  padding:20px; 
  font:14px Georgia;
  line-height:1.5em;
  background-color:#efe;
}

.blogitems img {
  margin-right:10px; float: left;
}