/* CSS Document */
body {
  border:0; margin:0; padding:0;
  color:#000000; background-color:#FFFFFF;
  font-family: Verdana, Tahoma, Arial;
}

a,
a:visited {
  color:#CC6600;
  text-decoration: underline;
}

header.site-header,
footer.site-footer {
  background-color:#8888CC;
  color:#FFFFFF;
  padding:10px;
}

div.page-content {
  padding: 10px 40px;
  line-height:1.5em;
}