/* CSS Document */
body {
  color:#000000; background-color:#FFFFFF;
  border: 0px 20px;
  font-family: Verdana, Tahoma, Arial;
}
a,
a:visited {
  color:#CC6600;
  text-decoration: underline;
}
